@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: #0d1116;
}
.cointainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card{
    width: 900px;
    /* height: 10vh; */
    /* border: 2px solid black; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 5px;
    margin: 5px;
    gap: 10px;
    border-radius: 10px;
    background-color: #0f0f0f;
    color: white;
}


.image img {
    width: 200px;
    border-radius: 10px;
}

.text{
    display: flex;
        flex-direction: column;
        /* align-items: end; */
        margin-bottom: 58px;
        /* justify-content: right; */
        gap: 10px;
}
h2{
    padding: 0;
    margin: 0;
}

.text p{
    color: gray;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232929;
    box-shadow: #ffffff;
}

.data_wrapper{
    display: flex;
    gap: 10px;
    margin: 20px;
    /* padding: 20px; */
}

.data-input{
    background-color: #0f0f0f;
    border: 1px solid gray;
    font-size: 15px;
    border-radius: 7px;
    padding: 10px 20px;
    color: white;
}

.add_btn{
    background-color: #ff0000;
    border: 1px solid gray;
    font-size: 15px;
    border-radius: 7px;
    padding: 10px 20px;
    color: white;
}